body {
  margin-top: 60px;
}

i {
  padding-right: 10px;
}

a {
  cursor: pointer;
}

textarea {
  font-family: monospace;
}

.lg-icon {
  font-size: 1.5em;
}

.pad-left-10 {
  padding-left: 10px;
}

.service-versionselectors {
  margin-bottom: 10px;
}

.glyphicon-lg {
  font-size: 1.5em;
}

.slider.slider-horizontal {
  width: 100%;
  margin-top: 10px;
}

.nudge-down {
  margin-top: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
